
.idea/dbnavigator.xml
/.idea/dbnavigator.xml
.DS_Store
/.idea/
#Ignore .idea files
.idea/
Server/venv/
Server/app/database.db
Server/__pycache__/
MERN/backend/node_modules/
MERN/frontend/node_modules/
/MERN/backend/node_modules/
/MERN/frontend/node_modules/
/MERN/backend/node_modules/
